body {
    font-family: 'Arvo', serif;
    background-color: rgb(212, 206, 198);
}

li {
    list-style-type: none;
}

.uikit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.uikit__item {
    margin: 10px 0;
}